In [1]:
# Standard Headers
# You are welcome to add additional headers if you wish
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.__version__

'0.23.0'

In [2]:
# Enable inline mode for matplotlib so that IPython displays graphs.
%matplotlib inline

In [3]:
# add skipinitialspace=True to skip spaces after delimiter (will be required later for the map function)
adult_data = pd.read_csv("adult.csv", skipinitialspace=True)
# show the head of the data (first 5 values)
adult_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,High-school,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# display data types of various columns in a dataframe
adult_data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
class             object
dtype: object

In [5]:
marital_status_data = adult_data.groupby('marital-status')

In [6]:
marital_status_data['hours-per-week'].mean()

marital-status
Divorced                 41.246680
Married-AF-spouse        41.130435
Married-civ-spouse       43.284856
Married-spouse-absent    39.669856
Never-married            36.939998
Separated                39.301463
Widowed                  32.979859
Name: hours-per-week, dtype: float64

In [7]:
marital_status_data['hours-per-week'].median()

marital-status
Divorced                 40
Married-AF-spouse        40
Married-civ-spouse       40
Married-spouse-absent    40
Never-married            40
Separated                40
Widowed                  40
Name: hours-per-week, dtype: int64

In [8]:
marital_status_data['hours-per-week'].std()

marital-status
Divorced                 10.676632
Married-AF-spouse        19.440596
Married-civ-spouse       11.905047
Married-spouse-absent    11.767374
Never-married            12.432542
Separated                10.377534
Widowed                  14.058690
Name: hours-per-week, dtype: float64

In [9]:
# Married-civ-spouse has the maximum average work hors per week while Widowed has the minimum
# Married-AF-spouse has the most variability in work hours per week while Seperated has the least

In [12]:
!adult_data.plt.hist('education').plot()

AttributeError: 'DataFrame' object has no attribute 'plt'

In [ ]:
# Please don't change this cell!!
continent_dict = {
    'Cambodia' : 'Asia',
    'Canada' : 'North-America',
    'China' : 'Asia',
    'Columbia' : 'South-America',
    'Cuba' : 'North-America',
    'Dominican-Republic' : 'North-America',
    'Ecuador' : 'South-America',
    'El-Salvador' : 'North-America',
    'England' : 'Europe',
    'France' : 'Europe',
    'Germany' : 'Europe',
    'Greece' : 'Europe',
    'Guatemala' : 'North-America',
    'Haiti' : 'North-America',
    'Holand-Netherlands' : 'Europe',
    'Honduras' : 'North-America',
    'Hong' : 'Asia',
    'Hungary' : 'Europe',
    'India' : 'Asia',
    'Iran' : 'Asia',
    'Ireland' : 'Europe',
    'Italy' : 'Europe',
    'Jamaica' : 'North-America',
    'Japan' : 'Asia',
    'Laos' : 'Asia',
    'Mexico' : 'North-America',
    'Nicaragua' : 'North-America',
    'Outlying-US(Guam-USVI-etc)' : 'North-America',
    'Peru' : 'South-America',
    'Philippines' : 'Asia',
    'Poland' : 'Europe',
    'Portugal' : 'Europe',
    'Puerto-Rico' : 'North-America',
    'Scotland' : 'Europe',
    'South' : 'Other',
    'Taiwan' : 'Asia',
    'Thailand' : 'Asia',
    'Trinadad&Tobago' : 'South-America',
    'United-States' : 'North-America',
    'Vietnam' : 'Asia',
    'Yugoslavia' : 'Europe',
    '?' : 'Other'
}

In [ ]:
# You may want to create a deep copy of the initial dataframe object
# so that you can run this cell multiple times without errors.
adult_data_copy = adult_data.copy()
# your code goes here

In [ ]:
# your code goes here

In [ ]:
'''Explain why here (as a comment):


'''

In [ ]:
leaf_data = pd.read_csv("leaf.csv")
leaf_data.head()

In [ ]:
# your code goes here

In [ ]:
# your code goes here

In [ ]:
# your code goes here

In [ ]:
# your code goes here

In [ ]:
# your code goes here

In [ ]:
# your code goes here